.calc{
  width: 300px;
  margin: 100px auto;
  background-color: rgb(253, 253, 253);
}
#ans{
  background-color:rgb(34, 30, 30);
  color: white;
  padding: 10px;
  font-size: 35px;
  width: 236px;
  height: 50px;
  text-align: right;
}
.button{
  height: 60px;
  width: 65px;
  background-color: rgb(88, 86, 86);
  color: white;
  font-size: 30px;
  border: 1px solid black;
  float: left;
}
#zero{
  width: 130px;
}
#d1{
  background-color: rgb(255, 125, 4);
}
#d2{
  background-color: rgb(49, 47, 47);
}